@import url('./variables.css');

@media screen and (min-width: 1171px) {
    .app-info{
        padding-top: 94px;
        padding-bottom: 55px;
    }
}

.app-info-container{
    background-image: url('../img/mob/app-info/item.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

@media screen and (min-width: 1171px) {
    .app-info-container{
        background-image: none;
    }
}

.app-info-list{
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 100%;
    max-width: 180px;
}

@media screen and (min-width: 1171px) {
    .app-info-list{
        max-width: 696px;
        flex-direction: row;
        gap: 80px;

        margin-right: 0;
        margin-left: 20px;
    }
}

.app-info-item{
    padding: 48px 0;
}

.app-info-item:not(:last-child){
    border-bottom: 1px solid rgba(30, 12, 62, 0.2);
}

@media screen and (min-width: 1171px) {
    .app-info-item{
        border: none !important;
        padding: 0;
        width: 100%;
    }
}

.app-info-num{
    color: var(--title-text-color);

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 1;

    text-align: center;

    margin-bottom: 28px;
}

@media screen and (min-width: 1171px) {
    .app-info-num{
        font-size: 48px;
        line-height: calc(48 / 64);
    }
}

.app-info-label{
    font-size: 18px;
    line-height: 1;
    text-align: center;
    opacity: 0.6;
}
