@import url('./variables.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  
  font-family: 'Inter', sans-serif;

  color: var(--general-text-color);
  font-weight: 400;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-items-gap);
}

.flex-container > li{
  flex-basis: calc((100% - (var(--flex-items) - 1) * var(--flex-items-gap)) / var(--flex-items));
}

.general-paragraph,
.general-title,
.general-list,
.general-hr {
  margin: 0;
}

.general-list {
  padding: 0;
  list-style: none;
}

.general-link {
  text-decoration: none;
  color: currentColor;
}

.general-button {
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

.general-img {
  display: block;
}

.container{
  width: 100%;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.hidden{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
}

.general-section-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(36 / 24);
  color: var(--title-text-color);
}

.general-section-p{
  font-size: 16px;
  line-height: calc(29 / 16); 
  opacity: 0.8;
}

.info-box-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-box-list > li{
  display: flex;
  align-items: start;
  gap: 18px;
}

.info-box-list > li > div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  border-radius: 10px;
}

.info-box-list > li:first-child > div:first-child{
  background: #FA855C;
}

.info-box-list > li:nth-child(2) > div:first-child{
  background: #7AD6E1;
}

.info-box-list > li:last-child > div:first-child{
  background: #FFC954;
}

.info-box-list > li .general-title{
  font-size: 18px;
  line-height: calc(22 / 18);

  margin-bottom: 10px;
}

.info-box-list > li .general-title{
  font-size: 14px;
  line-height: calc(25 / 14);
}

.general-big-button{
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(28 / 18);

  color: #fff;

  padding: 24px 40px;

  background: #FF553E;
  border-radius: 40px;
}

.general-big-button.empty-button{
  background: transparent;
  color: #FF553E;
  border: 1px solid #FF553E;
}