.header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding-top: 28px;

    width: 100%;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-burger-button{
    display: block;

    background-color: transparent;
    background-image: url('../img/mob/header/icon/burger-button.svg');

    background-repeat: no-repeat;
    background-size: cover;

    width: 30px;
    height: 24px;
}

.header-nav{
    display: none;
}

.header-log-list{
    display: none;
}