@import url('./variables.css');

.hero{
    background-color: #FFF8F2;
}

.hero-container{
    position: relative;

    background-image: url('../img/mob/hero/hero.png');
    background-repeat: no-repeat;
    background-position:  0 90px;

    padding-left: 24px;
    padding-right: 24px;
}

.hero-content{
    padding-top: 132px;
    padding-bottom: 85px;
}


.hero-title{
    color: #1C0E0D;

    font-family: 'Poppins', sans-serif;

    font-style: normal;
    font-weight: 700;
    font-size: 28px;

    line-height: calc(45 / 28);
    text-transform: capitalize;

    width: 100%;
    max-width: 297px;

    margin-bottom: 12px;
}

.hero-p{
    line-height: calc(36 / 16);
    color: #40201E;

    width: 100%;
    max-width: 307px;

    margin-bottom: 40px;
}

.hero-des-img{
    position: absolute;
    z-index: -1;

    top: 0;
    left: 0;
}